* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #111111;
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Permanent+Marker&family=Rubik:wght@300&display=swap');
    font-family: 'Fredoka', sans-serif;
}

.header_div{
    background-color: #181818;
    width: 100%;
    height: 10vh;
}

.desktop_nav {
  display: none;
}

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: #535353;
    padding-top: 60px;
    transition: right 0.5s ease;
  }

  #openBtn {
    position: absolute;
    top: 30px;
    right: 0;
    margin-right: 10px;
    margin-top: -5%;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c9c4c4;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    right: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #9F101A;
    margin: 6px 0;
  }

/* presentaion au de la page*/

.presentation {
    display: flex;
    color: white;
    align-items: center;
}


.fluid_presentation{
    width: 60%;
    border-radius: 20px;
    box-shadow: #9F101A 5px 5px 0px;
}

.texte_presentation{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

button{
    margin-top: 10px;
    background-color: #9F101A;
    color: white;
    border: 0px solid;
    border-radius: 5px;
    padding: 5px;
    transition: ease 0.2s;
}

button:hover{
    background-color: white;
    color: #9F101A;
    transition: ease 0.2s;
}

button:hover + a {
  color: #9F101A;
}

/* Suite de la présentation */

.presentation_suite {
    margin-top: 10%;
    color: #9AACB4;
    text-align: center;
    font-size: 5vw;
    margin-left: 10%;
    margin-right: 10%;
}

/* Compétence */

.competence {
    margin-top: 10%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    justify-content: center;
    color: #EF403F;
    margin-left: auto;
    margin-right: auto;
    font-size: 5vw;
}

.competence1 {
    padding: 20px;
    text-align: center;
}

.travaux {
    margin-top: 10%;
    color: #9AACB4;
    text-align: center;
}

.pr_travaux{
    color: white;
    margin-bottom: 2%;
}

/* Projet */

.projet_boite {
  margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.fluid_projet {
  width: 100%;
  margin-top: 10%;
}

h5 {
  color: white;
  font-size: 10vw;
  margin-bottom: 10%;
}

.lien_projet{
  text-decoration: none;
  color: #EF403F;
  background-color: white;
  font-weight: bolder;
  border-radius: 20px;
  padding: 10px;
}

/* Contact */

.contact {
  display: flex;
}

.boite_contact {
  width: 100%;
  height: 50%;
  padding: 10%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  background-color: #181818;
  text-align: center;
  color: white;
}

.btn_contact {
  text-decoration: none;
  color: white;
  background-color: #9F101A;
  border-radius: 10px;
  padding: 10px;
}

/* footer */

footer{
  display: flex;
  background-color: #1E1E1E;
  padding: 50px;
  bottom: 0;
  align-items: center;
  text-align: center;
}

.logo_foot {
  width: 50%;
}

/* Page contact */

.textecontact {
  margin-top: 5%;
  color: white;
}

.input_texte{
  color: black;
  width: 100%;
  height: 50px;
}

.input_btn {
  width: 50%;
  height: 50px;
  background-color: #9F101A;
  color: white;
  border: #9F101A;
  border-radius: 15px;
  font-weight: bolder ;
  transition: ease 0.2s;
  cursor: pointer;
}

.input_btn:hover {
  background-color: white;
  color: #9F101A;
  transition: ease 0.2s;
}

.box_contact {
  padding: 10%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  background-color: #181818;
  text-align: center;
  color: white;
}

@media screen and (min-width: 1152px) {
  .travaux_projet {
  display: grid; 
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   gap: 0px;
   height: 50%;
  }

  .projet_boite > h5{
    font-size: 1.7em;
  }

  .logo_foot{
    width: 10%;
    background-color: white;
  }

  .boite_travaux{
    font-size: 1.7em;
  }

  button {
    font-size: 0.7em;
    border-radius: 10px;
    padding: 0.7%;
    font-weight: bolder;
  }

  button:hover {
    cursor:pointer;
  }

  button:hover + a {
    color: #9F101A;
  }

  .btn_contact{
    transition: ease 0.2s;
    font-weight: bolder;
  }

  .btn_contact:hover{
    background-color: white;
    color: #9F101A;
    transition: ease 0.2s;
    cursor:pointer;
  }

  .lien_projet {
    transition: 0.2s ease;
  }

  .lien_projet:hover {
    background-color: #9F101A;
    color: white;
    transition: 0.2s ease;
  }

  .presentation {
    justify-content: space-evenly;
  }

  .texte_presentation > button {
    padding: 5%;
  }

  .fluid_presentation{
    width: 30%;
    border-radius: 20px;
    box-shadow: #9F101A 5px 5px 0px;
}

  .logo_foot{
    border-radius: 20px;
    box-shadow: white 2px 2px 10px 2px;
  }

  .competence{
    width: 30%;
    font-size: 1.7em;
  }

  .presentation_suite {
    font-size: 1.9em;
}

.texte_presentation{
  font-size: 1.9em;
}

/* nav */

.header_div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
}

.sidenav {
  display: none;
}

.menu_item {
  display: inline-block;
}
.menu_item:after {
  content: "";
  display: block;
  height: 0.25em;
  width: 0%;
  border-radius: 5px;
  background-color: white;
  transition: width 0.3s;
}

.menu_item:hover:after {
  width: 100%;
}

.desktop_nav{
  display: block;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  margin: 10%;
}

ul > li > a {
  text-decoration: none;
  color: white;
}

/* contact */

.input_texte{
  width: 50%;
  height: 50px;
}

.box_contact{
  height: 30%;
}

}