<article class="simple-choice">
    <h3>Nouvelle Aventure ?</h3>
    <p>Vous et Sérana avez triomphé des ennemis, puis vous vous retrouvez dans une étrange salle, Sérana vous explique cette salle appartenait à sa mère et qu'elle devait préparer l'ouverture d'une porte pour entrer dans le Cairn de l'Âme. <br> Elle vous propose de soi rentrer dans le Cairn de l'Âme pour rejoindre sa mére ou alors retourner au fort et vaincre le Roi vampire.</p>
    <div>
        <a href="#fin-1.Alternative"><img src="img/DG_fort.png" alt="" class="fluid2 opacity fluidF"></a>
        <a href="#fin-2.Alternative"><img src="img/entrer.jpg" alt="" class="fluid2 opacity fluidF"></a>
    </div>
</article>