<article class="simple-choice">
    <h3>Le final</h3>
    <p>Vous vous retrouvez en face d'Harkon, le pére de Sérana. <br> Il vous propose de choisir entre devenir un maître vampire ou alors rester un simple humain et devenir une proie</p>
    <p>Sérana n'a auncun problème à que vous devenez un maître vampire mais si vous faîtes ça alors vous trahirez la garde de l'aube et deviendrai une menace contre l'humanité que choisissez vous ?</p>
    <div>
        <a href="#fin-1"><img src="img/Garde.jpg" alt="" class="fluid2 opacity fluidF"></a>
        <a href="#fin-2"><img src="img/maitreV.jpg" alt="" class="fluid2 opacity fluidF"></a>
    </div>

</article>