
<article class="simple-choice">
    <h3>Chemin à prendre</h3>
    <p>Vous êtes en face d'un chateau, Sérana vous propose de soit passer par la porte principal ou alors par le port.
    </p>
    <h4>Quelle direction prenez vous ?</h4>
    <div id="div1">
        <a href="#scene-2.A"><img src="img/Castle_Volkihar.jpg" alt="Chateau de Volkihar" class="opacity fluid2"></a>
        <a href="#scene-2.B"><img src="img/port.jpg" alt="Port de Volkihar" class="opacity fluid2"></a>
    </div>
</article>

<script src="js/game1.js"></script>