<article class="simple-choice">
    <h3>Le Thu'um</h3>
    <p>Vous avez plusieurs ennemis en face de vous. <br>Sérana et vous avez du mal à les vaincre, la seul façon de les avoirs et d'utiliser le Thu'um. <br>Vous avez plusieurs cri à votre dispostion à vous de choisir le cri de déferlement.</p>
    <p>Fus Ro Dah - Su Grah Dum - Fo Krah Diin - Yol Toor Shul</p>
    <h4>Trouvez le bon cri</h4>
    <form action="scene-2.B.html" method="get" id="js-form-word">
        <input type="text" name="word" id="js-field-word" maxlength="15">
        <input type="submit" value="Soumettre">
    </form>
</article>