
<article class="simple-choice">
    <h3>Préparation</h3>
    <p>Vous avez entendu des vampires, vous décidez de vous armez.<br>
    Vous devez choisir une arme, avec la meilleur affinité que vous avez avec et le mieux pour tuer des vampires.</p>
    <div>
        <img src="../img/Elvenbowskinned.png" alt="Arc elfique" id="arme1" class="arme opacity center">
        <img src="../img/Elvenmace.png" alt="Masse d'arme" class="arme opacity" id="arme2">
        <img src="../img/Glassswordchillrend.png" alt="Epée de verre" class="arme opacity" id="arme3">
        <img src="../img/MehrunesRazor.png" alt="Dague daedrique" class="arme opacityArme opacity" id="arme4">
    </div>
</article>